<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header2 :: header" />

<body>

<!-- =======================
Header START -->
<header class="navbar-light fixed-top header-static bg-mode">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="/">
        <img class="light-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

			<!-- Main navbar START -->
			<div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Nav Search START -->
                <div class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0">
                    <div class="nav-item w-100">
                        <form class="rounded position-relative" action="/user/login">
                            <input class="form-control ps-5 bg-light" id="inputLogin" name="inputLogin" type="search" placeholder="Search..." aria-label="Search">
                            <button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="submit"><i class="bi bi-search fs-5"> </i></button>
                        </form>
                    </div>
                </div>
                <!-- Nav Search END -->

				<ul class="navbar-nav navbar-nav-scroll ms-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="homeMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">글로벌 랭킹</a>
                        <ul class="dropdown-menu" aria-labelledby="homeMenu">
                            <li> <a class="dropdown-item" th:href="@{'/global/user'}">
                                <img class="me-2 h-20px fa-fw" src="/assets/images/icon/person-outline-filled.svg" alt="">유저 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/global/organization'}">
                                <img class="me-2 h-20px fa-fw" src="/assets/images/icon/handshake-outline-filled.svg" alt="">조직 랭킹</a></li>
                            <li> <a class="dropdown-item active" th:href="@{'/global/source'}">
                                <img class="me-2 h-20px fa-fw" src="/assets/images/icon/cloud-outline-filled.svg" alt="">소스 랭킹</a></li>
                        </ul>
                    </li>
                    <!-- Nav item 2 Pages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">한국인 랭킹</a>
                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">
                            <li> <a class="dropdown-item" th:href="@{'/korean/user'}">유저 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/korean/organization'}">조직 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/korean/source'}">소스 랭킹</a></li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" th:href="@{'/login/comingSoon'}" target="_blank">
                                    <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>금주의 랭킹
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Nav item 3 Post -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="memberRankMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회원 랭킹</a>
                        <ul class="dropdown-menu" aria-labelledby="memberRankMenu">
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">유저 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">조직 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">소스 랭킹</a></li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" th:href="@{'/login/comingSoon'}" target="_blank">
                                    <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>금주의 랭킹
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Nav item 4 Mega menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">서비스소개</a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" th:href="@{'/login/info'}">소개</a> </li>
                            <li> <a class="dropdown-item" th:href="@{'/login/comingSoon'}">문의 및 건의사항</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Main navbar END -->

            <!-- Nav right START -->
            <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
                <!-- Notification dropdown END -->
                <li class="nav-item ms-2 dropdown">
                    <th:block th:if="${login_session == null}">
                        <a class="nav-link btn icon-md p-0" th:href="@{/login/signIn}">
                            <img class="avatar-img rounded-2" src="/assets/images/github-icon.png" alt=""></a>
                    </th:block>
                    <th:block th:if="${login_session != null}">
                        <a class="nav-link btn icon-md p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar-img rounded-2" th:src="@{${login_session.avatarUrl}}" alt="">
                        </a>

                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="profileDropdown">
                            <!-- Profile info -->
                            <li class="px-3">
                                <div class="d-flex align-items-center position-relative">
                                    <!-- Avatar -->
                                    <div class="avatar me-3">
                                        <img class="avatar-img rounded-circle" th:src="@{${login_session.avatarUrl}}" alt="avatar">
                                    </div>
                                    <div>
                                        <a class="h6 stretched-link" href="#"><span th:text="${login_session.login}"></span></a>
                                        <p class="small m-0" th:text="${login_session.name}">name</p>
                                    </div>
                                </div>
                                <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" href="my-profile.html">View profile</a>
                            </li>
                            <!-- Links -->
                            <li><a class="dropdown-item" href="settings.html"><i class="bi bi-gear fa-fw me-2"></i>Settings & Privacy</a></li>
                            <li>
                                <a class="dropdown-item" href="https://support.webestica.com/" target="_blank">
                                    <i class="fa-fw bi bi-life-preserver me-2"></i>Support
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../../../../docs/index.html" target="_blank">
                                    <i class="fa-fw bi bi-card-text me-2"></i>Documentation
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item bg-danger-soft-hover" th:href="@{/logout}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
                            <li> <hr class="dropdown-divider"></li>
                            <!-- Dark mode switch START -->
                            <li>
                                <div class="modeswitch-wrap" id="darkModeSwitch">
                                    <div class="modeswitch-item">
                                        <div class="modeswitch-icon"></div>
                                    </div>
                                    <span>Dark mode</span>
                                </div>
                            </li>
                            <!-- Dark mode switch END -->
                        </ul>
                    </th:block>
                </li>
            </ul>
            <!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
  
  <!-- Container START -->
  <div class="container">
    <div class="row g-4">
      <!-- Main content START -->
      <div class="col-lg-12">
        <div class="bg-mode p-4">
            <div class="row">
                <div class="col-3 card-header d-sm-flex text-center align-items-center justify-content-between border-0 pb-0">
                    <h1 class="card-title h4 h4 mb-4">Source Rank</h1></div>
                <div class="col-6"></div>
                <div class="col-3 d-flex justify-content-end">
                    <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">

                        <!-- Language By -->
                        <div th:replace="~{/fragments/LanguageBy :: menu ('global', 'source')}"></div>
<!--                        -->
<!--                        <li class="nav-item ms-2 dropdown">-->
<!--                            <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" href="#" id="sortSelectDropDown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                                Language By  <i class="fa-solid bi-caret-down-fill pe-1"></i>-->
<!--                            </a>-->
<!--                            <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="sortSelectDropDown">-->
<!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'All'}, sortBy=${var_sortBy})}">-->
<!--                                    <i class="bi bi-star fa-fw me-2"></i>All🦑<i th:if="${var_languageBy.equals('All')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
<!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'C'}, sortBy=${var_sortBy})}">-->
<!--                                    <i class="fa-fw bi bi-filetype-cs me-2"></i>C🐋<i th:if="${var_languageBy.equals('C')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
<!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'Java'}, sortBy=${var_sortBy})}">-->
<!--                                    <i class="fa-fw bi bi-filetype-java me-2"></i>☕🏝Java🌋☕<i th:if="${var_languageBy.equals('Java')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
<!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'Python'}, sortBy=${var_sortBy})}">-->
<!--                                    <i class="fa-fw bi bi-filetype-py me-2"></i>Python🐂<i th:if="${var_languageBy.equals('Python')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
<!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'C++'}, sortBy=${var_sortBy})}">-->
<!--                                    <i class="fa-fw bi bi-filetype-cs me-2"></i>🏔C++🦔<i th:if="${var_languageBy.equals('C++')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
<!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'JavaScript'}, sortBy=${var_sortBy})}">-->
<!--                                    <i class="fa-fw bi bi-filetype-js me-2"></i>🏕JavaScript🆕✅📋🐇🔖 Ready🏗 In progress👀 In review<i th:if="${var_languageBy.equals('JavaScript')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
<!--                            </ul>-->
<!--                        </li>-->

                        <!-- SortBy -->
                        <li class="nav-item ms-2 dropdown">
                            <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" href="#" id="sortSelectDropDown2" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort By  <i class="fa-solid bi-caret-down-fill pe-1"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="sortSelectDropDown">
                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${var_languageBy}, sortBy=${'StargazersCount'})}">
                                    <i class="bi bi-star text-warning fa-fw me-2"></i>Star<i th:if="${var_sortBy.equals('StargazersCount')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${var_languageBy}, sortBy=${'Language'})}">
                                    <i class="fa-fw bi bi-bricks text-danger me-2"></i>Language<i th:if="${var_sortBy.equals('Language')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${var_languageBy}, sortBy=${'Size'})}">
                                    <i class="fa-fw bi bi-arrows-fullscreen text-primary me-2"></i>Source Size<i th:if="${var_sortBy.equals('Size')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${var_languageBy}, sortBy=${'CreatedAt'})}">
                                    <i class="fa-fw bi bi-calendar-date-fill text-success me-2"></i>CreatedAt<i th:if="${var_sortBy.equals('CreatedAt')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number}, languageBy=${var_languageBy}, sortBy=${'PushedAt'})}">
                                    <i class="fa-fw bi bi-calendar-date-fill text-black me-2"></i>PushedAt<i th:if="${var_sortBy.equals('PushedAt')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>
                            </ul>


                        </li>
                    </ul>
                </div>
            </div>

          <!-- User Rank item START -->
          <div class="card bg-transparent border-0">
              <div class="row g-4">
                      <div class="col-2">
                          <div class="d-flex justify-content-center">
                              <i class="bi bi-person-bounding-box text-success fs-4"></i>
                              <div class="ms-3">
                                  <h6 class="mb-0">Github ID</h6>
                              </div>
                          </div>
                      </div>
                      <div class="col-10">
                          <div class="row g-2">
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <i class="bi bi-menu-button-wide text-info fs-4"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0">Repository</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <i class="bi bi-star-fill text-warning fs-4"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0" >Star</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <i class="fa-solid bi-bricks text-danger fs-4"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0">Language</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <i class="fa-solid bi-arrows-fullscreen text-primary fs-4"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0">Source Size</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <i class="bi bi-calendar-date-fill text-success"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0" >CreatedAt</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <i class="fa-solid bi-calendar-date-fill text-black"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0">PushedAt</h6>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div><!-- Rank Header End -->
              <br>
              <div class="row g-3">
                  <th:block th:each="userRank, iStat : ${userRanks.content}">
                      <div class="col-2 d-flex justify-content-start">
                          <h6 class="mb-0" th:text="${iStat.count + (userRanks.number*userRanks.size)}"></h6><h6>. </h6>
                          <a th:href="@{https://github.com/{login} (login=${userRank.login})}" target="_blank">
                          <h6 class="mb-0 mx-1" th:text="${userRank.login}">login</h6>
                          </a>
                      </div>


                      <div class="col-10">
                          <div class="row g-2">
                              <div class="col-sm-2 d-flex justify-content-start">
                                  <div class="ms-3">
                                      <a href="/" th:href="@{https://github.com/{login}/{repo} (login=${userRank.login}, repo=${userRank.name})}" target="_blank">
                                      <h6 th:text="${#strings.length(userRank.name) > 20 ? #strings.append(#strings.substring(userRank.name, 0, 20), '..') : userRank.name}">1</h6>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <div class="ms-3">
                                          <h7 class="mb-0" th:text="${#numbers.formatInteger(userRank.stargazersCount, 0, 'COMMA')}">1</h7>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <div class="ms-3">
                                          <div th:replace="~{/fragments/viewLanguage :: swichLanguage (${userRank.language})}"></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <div class="ms-3">
                                          <h7 class="mb-0" th:text="${#numbers.formatInteger(userRank.size, 0, 'COMMA')}">1</h7>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <div class="ms-3">
                                          <h7 class="mb-0" th:text="${#temporals.format(userRank.createdAt, 'yyyy-MM-dd')}">1</h7>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="d-flex justify-content-center">
                                      <div class="ms-3">
                                          <h7 class="mb-0" th:text="${#temporals.format(userRank.pushedAt, 'yyyy-MM-dd')}">1</h7>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <hr>
                  </th:block>
              </div>
          </div> <!-- User Rank END -->

          <!-- Pagination -->
            <!-- Pagination -->
            <div class="mt-4">
                <nav aria-label="navigation">
                    <ul class="pagination pagination-light d-inline-block d-md-flex justify-content-center">
                        <li class="page-item" th:classappend="${!userRanks.hasPrevious()} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/global/source(size=${userRanks.size}, page=0, languageBy=${var_languageBy}, sortBy=${var_sortBy})}">First</a>
                        </li>
                        <li class="page-item" th:classappend="${!userRanks.hasPrevious()} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number-1}, languageBy=${var_languageBy}, sortBy=${var_sortBy})}">Prev</a>
                        </li>
                        <li class="page-item" th:if="${userRanks.hasPrevious()}">
                            <a class="page-link" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number-1}, languageBy=${var_languageBy}, sortBy=${var_sortBy})}"><span th:text="${userRanks.number}">0</span></a></li>
                        <li class="page-item active"><a class="page-link" href="#" th:href="@{/korean/user(size=${userRanks.size}, page=${userRanks.number}, languageBy=${var_languageBy}, sortBy=${var_sortBy})}"><span th:text="${userRanks.number+1}">1</span></a></li>
                        <li class="page-item" th:if="${userRanks.hasNext()}">
                            <a class="page-link" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number+1}, languageBy=${var_languageBy}, sortBy=${var_sortBy})}"><span th:text="${userRanks.number+2}">2</span></a></li>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        <li class="page-item" th:if="${userRanks.hasNext() && userRanks.totalPages > userRanks.number+2}">
                            <a class="page-link" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.totalPages-1}, languageBy=${var_languageBy}, sortBy=${var_sortBy})}"><span th:text="${userRanks.totalPages}">15</span></a></li>
                        <li class="page-item" th:classappend="${!userRanks.hasNext()} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.number+1}, languageBy=${var_languageBy}, sortBy=${var_sortBy})}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${!userRanks.hasNext()} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/global/source(size=${userRanks.size}, page=${userRanks.totalPages-1}, languageBy=${var_languageBy}, sortBy=${var_sortBy})}">Last</a>
                        </li>




                    </ul>
                </nav>
            </div>
        </div>
      </div>
      <!-- Main content END -->

    </div>
  </div>
  <!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
<div th:replace="fragments/footer :: footer" />
 
<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Functions -->
<script src="/assets/js/functions.js"></script>
 
</body>
</html>