<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <div>
            <form th:object="${orderSearch}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{memberName}" class="form-control" placeholder="회원명"/>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{orderStatus}" class="form-control">
                        <option value="">주문상태</option>
                        <option th:each="status : ${T(jpabook.jpashop.domain.OrderStatus).values()}"
                                th:value="${status}"
                                th:text="${status}">option
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <div th:each="type : ${adsTypes}" class="form-check form-check-inline">
            <input type="radio" th:field="*{adsType}" th:value="${type.name()}" class="form-check-input">
            <label th:for="${#ids.prev('adsType')}" th:text="${type.description}" class="form-check-label">
                이미지
            </label>
        </div>

        <th:block th:if="${ads.getAdsType().toString().equals('Image')}">
            <div class="container">
                <img th:src="${ads.materialUrl}" width="480">
            </div>
        </th:block>
        <th:block th:if="${ads.getAdsType().toString().equals('Video')}">
            <div class="container">
                <!--              <video oncontextmenu="return false;" id="myVideo" width="480" controls autoplay>-->
                <video oncontextmenu="return false;" id="myVideo" width="480" controls>
                    <source th:src="${ads.materialUrl}" type="video/mp4">
                </video>
            </div>
        </th:block>

                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>

                <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}" class="btn btn-primary" role="button">수정</a>

            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${orders}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.member.name}"></td>
                <td th:text="${item.orderItems[0].item.name}"></td>
                <td th:text="${item.orderItems[0].orderPrice}"></td>
                <td th:text="${item.orderItems[0].count}"></td>
                <td th:text="${item.status}"></td>
                <td th:text="${item.orderDate}"></td>
                <td>
                    <a th:if="${item.status.name() == 'ORDER'}" href="#" th:href="'javascript:cancel('+${item.id}+')'"
                       class="btn btn-danger">CANCEL</a>
                </td>
            </tr>


            <tr th:each="ad : ${ads}">
                <td>
                    <!--                <a th:href="@{'/content-service/'+${app.appId}+'/contents'}" th:text="${app.appId}"/></a>-->
                    <!--                <a th:href="@{${ad.materialUrl}}" th:text="${ad.adsId}"/></a>-->
                    <a th:href="@{'/ads/'+${ad.id}}" th:text="${ad.adsId}"/></a>
                </td>
                <td th:text="${ad.adsName}"></td>
                <td th:text="${ad.adsType?.description}"></td>
                <td th:text="${#temporals.format(ad.updatedAt, 'yyyy-MM-dd')}"></td>

            </tbody>
        </table>
    </div>

    <!--                        <li class="nav-item ms-2 dropdown">-->
    <!--                            <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" href="#" id="sortSelectDropDown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">-->
    <!--                                Language By  <i class="fa-solid bi-caret-down-fill pe-1"></i>-->
    <!--                            </a>-->
    <!--                            <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="sortSelectDropDown">-->
    <!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/user(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'All'}, sortBy=${var_sortBy})}">-->
    <!--                                    <i class="bi bi-star fa-fw me-2"></i>All🦑<i th:if="${var_languageBy.equals('All')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
    <!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/user(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'C'}, sortBy=${var_sortBy})}">-->
    <!--                                    <i class="fa-fw bi bi-filetype-cs me-2"></i>C🐋<i th:if="${var_languageBy.equals('C')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
    <!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/user(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'Java'}, sortBy=${var_sortBy})}">-->
    <!--                                    <i class="fa-fw bi bi-filetype-java me-2"></i>☕🏝Java🌋☕<i th:if="${var_languageBy.equals('Java')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
    <!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/user(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'Python'}, sortBy=${var_sortBy})}">-->
    <!--                                    <i class="fa-fw bi bi-filetype-py me-2"></i>Python🐂<i th:if="${var_languageBy.equals('Python')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
    <!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/user(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'C++'}, sortBy=${var_sortBy})}">-->
    <!--                                    <i class="fa-fw bi bi-filetype-cs me-2"></i>🏔C++🦔<i th:if="${var_languageBy.equals('C++')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
    <!--                                <li><a class="dropdown-item" href="#" th:href="@{/global/user(size=${userRanks.size}, page=${userRanks.number}, languageBy=${'JavaScript'}, sortBy=${var_sortBy})}">-->
    <!--                                    <i class="fa-fw bi bi-filetype-js me-2"></i>🏕JavaScript🆕✅📋🐇🔖 Ready🏗 In progress👀 In review<i th:if="${var_languageBy.equals('JavaScript')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->


    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/orders/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>
