<!DOCTYPE html>
<html lang="kr">
<head th:replace="fragments/header2 :: header" />
<body>

<header class="navbar-light fixed-top header-static bg-mode">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="/">
				<img class="light-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
			</a>
			<!-- Logo END -->

            <!-- 모바일화면 navbar toggler -->
            <button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-animation">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </button>

			<!-- Main navbar START -->
			<div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Nav Search START -->
                <div class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0">
                    <div class="nav-item w-100">
                        <form class="rounded position-relative" action="/user/login">
                            <input class="form-control ps-5 bg-light" id="inputLogin" name="inputLogin" type="search" placeholder="Search..." aria-label="Search">
                            <button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="submit"><i class="bi bi-search fs-5"> </i></button>
                        </form>
                    </div>
                </div>
                <!-- Nav Search END -->

				<ul class="navbar-nav navbar-nav-scroll ms-auto">
                    <!-- Nav 서비스 소개 Mega menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">서비스소개</a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" th:href="@{'/'}">
                                <img class="me-2 h-20px fa-fw" src="/assets/images/icon/home-outline-filled.svg" alt="">홈</a> </li>
                            <li> <a class="dropdown-item" th:href="@{'/login/info'}">
                                <img class="me-2 h-20px fa-fw" src="/assets/images/icon/binocular-var-outline-filled.svg" alt="">서비스 소개</a> </li>
                            <li> <a class="dropdown-item" th:href="@{'/member/question'}">
                                <img class="me-2 h-20px fa-fw" src="/assets/images/icon/bulb-money-outline-filled.svg" alt="">문의 및 건의사항</a> </li>
                        </ul>
                    </li>

					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="homeMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">글로벌 랭킹</a>
                        <ul class="dropdown-menu" aria-labelledby="homeMenu">
                            <li> <a class="dropdown-item" th:href="@{'/global/user'}">
                                <img class="me-2 h-20px fa-fw" src="/assets/images/icon/person-outline-filled.svg" alt="">유저 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/global/organization'}">
                                <img class="me-2 h-20px fa-fw" src="/assets/images/icon/handshake-outline-filled.svg" alt="">조직 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/global/source'}">
                                <img class="me-2 h-20px fa-fw" src="/assets/images/icon/cloud-outline-filled.svg" alt="">소스 랭킹</a></li>
                        </ul>
                    </li>
                    <!-- Nav item 2 Pages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">한국인 랭킹</a>
                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">
                            <li> <a class="dropdown-item" th:href="@{'/korean/user'}">유저 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/korean/organization'}">조직 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/korean/source'}">소스 랭킹</a></li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" th:href="@{'/login/comingSoon'}" target="_blank">
                                    <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>금주의 랭킹
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Nav item 3 Post -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="memberRankMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회원 랭킹</a>
                        <ul class="dropdown-menu" aria-labelledby="memberRankMenu">
                            <li> <a class="dropdown-item" th:href="@{'/login/comingSoon'}">유저 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/login/comingSoon'}">조직 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/login/comingSoon'}">소스 랭킹</a></li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" th:href="@{'/login/comingSoon'}" target="_blank">
                                    <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>금주의 랭킹
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- Main navbar END -->

            <!-- Nav right START -->
            <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
                <!-- Notification dropdown END -->
                <li class="nav-item ms-2 dropdown">
                    <th:block th:if="${login_session == null}">
                        <a class="nav-link btn icon-md p-0" th:href="@{/login/signIn}">
                            <img class="avatar-img rounded-2" src="/assets/images/github-icon.png" alt=""></a>
                    </th:block>
                    <th:block th:if="${login_session != null}">
                        <a class="nav-link btn icon-md p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar-img rounded-2" th:src="@{https://avatars.githubusercontent.com/u/{id}?v=3 (id=${login_session.id})}" alt="">
                        </a>

                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="profileDropdown">
                            <!-- Profile info -->
                            <li class="px-3">
                                <div class="d-flex align-items-center position-relative">
                                    <!-- Avatar -->
                                    <div class="avatar me-3">
                                        <img class="avatar-img rounded-circle" th:src="@{https://avatars.githubusercontent.com/u/{id}?v=3 (id=${login_session.id})}" alt="avatar">
                                    </div>
                                    <div>
                                        <a class="h6 stretched-link" href="#"><span th:text="${login_session.login}"></span></a>
                                        <p class="small m-0" th:text="${login_session.name}">name</p>
                                    </div>
                                </div>
                                <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" th:href="@{/user/id/{id} (id=${login_session.id})}">My profile</a>
                            </li>
                            <!-- Links -->
                            <li><a class="dropdown-item" th:href="@{'/'}">
                                <i class="bi bi-house-heart-fill fa-fw me-2 text-danger"></i>홈</a></li>
                            <li>
                                <a class="dropdown-item" th:href="@{'/login/info'}">
                                    <i class="fa-fw bi bi-info-square-fill me-2 text-primary"></i>서비스 소개
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{'/member/question'}">
                                    <i class="fa-fw bi bi-question-octagon-fill me-2 text-warning"></i>문의 및 건의사항
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item bg-danger-soft-hover" th:href="@{/logout}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
                            <li> <hr class="dropdown-divider"></li>
                            <!-- Dark mode switch START -->
                            <li>
                                <div class="modeswitch-wrap" id="darkModeSwitch">
                                    <div class="modeswitch-item">
                                        <div class="modeswitch-icon"></div>
                                    </div>
                                    <span>Dark mode</span>
                                </div>
                            </li>
                            <!-- Dark mode switch END -->
                        </ul>
                    </th:block>
                </li>
            </ul>
            <!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
  
  <!-- Container START -->
  <div class="container">
    <div class="row g-4">

      <!-- Sidenav START -->
      <div class="col-lg-4">

        <!-- Advanced filter responsive toggler START -->
        <div class="d-flex align-items-center d-lg-none">
          <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
            <i class="btn btn-primary fw-bold fa-solid fa-sliders-h"></i>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">User profile</span>
          </button>
        </div>
        <!-- Advanced filter responsive toggler END -->
        
        <!-- Navbar START-->
        <nav class="navbar navbar-expand-lg mx-0"> 
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
            <!-- Offcanvas header -->
            <div class="offcanvas-header">
              <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body d-block px-2 px-lg-0">
              <!-- Card START -->
              <div class="card overflow-hidden">
                <!-- Cover image -->
                <div class="h-50px" style="background-image:url(/assets/images/bg/01.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                  <!-- Card body START -->
                  <div class="card-body pt-0">
                    <div class="text-center">
                    <!-- Avatar -->
                    <div class="avatar avatar-xxxl mt-n5 mb-3">
                        <a th:href="@{https://github.com/{login} (login=${userInfo.login})}"><img class="avatar-img rounded border border-white border-3" th:src="@{https://avatars.githubusercontent.com/u/{id}?v=3 (id=${userInfo.id})}"  alt=""></a>
                    </div>
                    <!-- Info -->
                        <a th:href="@{https://github.com/{login} (login=${userInfo.login})}"><h5 class="mb-0" th:text="${userInfo.login}"> </h5></a>
                    <p class="mt-3"><span th:text="${userInfo.bio}"></span></p>

                    <!-- User stat START -->
                    <div class="hstack gap-2 gap-xl-3 justify-content-center">
                      <div>
                        <h6 class="mb-0" th:text="${#numbers.formatInteger(userInfo.public_repos, 0, 'COMMA')}"></h6>
                        <small>Repos</small>
                      </div>
                      <div class="vr"></div>
                      <div>
                        <h6 class="mb-0" th:text="${#numbers.formatInteger(userInfo.followers, 0, 'COMMA')}"></h6>
                        <small>Followers</small>
                      </div>
                      <div class="vr"></div>
                      <div>
                        <h6 class="mb-0" th:text="${#numbers.formatInteger(userInfo.following, 0, 'COMMA')}"></h6>
                        <small>Following</small>
                      </div>
                    </div>

                    <!-- User stat END -->
                  </div>

                  <!-- Divider -->
                  <hr>

                  <!-- Side Nav START -->
                  <ul class="nav nav-link-secondary flex-column fw-bold gap-2">

                      <li class="nav-item">
                          <div class="gap-2 mb-3 d-flex justify-content-start">
                              <i class="fa-solid fa-file-signature text-primary fs-4"></i>
                              <span class="text-black ms-2" th:text="${userInfo.name}"></span>
                          </div>
                      </li>
                      <li class="nav-item">
                          <div class="gap-2 mb-3 d-flex justify-content-start">
                              <i class="fa-solid fa-star text-warning fs-4"></i>
                              <span class="text-black ms-2" th:text="${#numbers.formatInteger(userInfo.star, 0, 'COMMA')}"></span>
                          </div>
                      </li>
                      <li class="nav-item">
                          <div class="gap-2 mb-3 d-flex justify-content-start">
                            <i class="fa-solid fa-blog text-danger fs-4"></i>
                                <a class="h6 mb-0" th:href="${userInfo.blog}"><span class="text-black ms-2" th:text="${userInfo.blog}"></span></a>
                        </div>
                      </li>
                      <li class="nav-item">
                          <div class="gap-2 mb-3 d-flex justify-content-start">
                              <i class="fa-solid fa-envelope text-success fs-4"></i>
                                  <a class="h6 mb-0" th:href="${'mailto:'+userInfo.email}"><span class="text-black ms-2" th:text="${userInfo.email}"></span></a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <div class="gap-2 mb-3 d-flex justify-content-start">
                              <i class="fa-solid fa-building text-secondary fs-4"></i>
                              <div class="overflow-hidden">
                                  <span class="text-black ms-2" th:text="${userInfo.company}"></span></a>
                              </div>
                          </div>
                      </li>
                    <li class="nav-item">
                        <div class="gap-2 mb-3 d-flex justify-content-start">
                            <i class="fa-solid fa-location-dot text-info fs-4"></i>
                            <div class="overflow-hidden">
                                <span class="text-black ms-2" th:text="${userInfo.location}"></span></a>
                            </div>
                        </div>
                    </li>

                  </ul>
                  <!-- Side Nav END -->
                </div>
                <!-- Card body END -->
              </div>
            </div>
          </div>
        </nav>
        <!-- Navbar END-->
      </div>
      <!-- Sidenav END -->

      <!-- Main content START -->
      <div class="col-md-8 col-lg-8 vstack gap-4">

        <!-- Card feed item START -->
        <div class="card">
          <!-- Card header START -->
          <div class="card-header border-0 pb-0">
            <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <div class="avatar me-2">
                            <a th:href="@{https://github.com/{login} (login=${userInfo.login})}"> <img class="avatar-img rounded-circle"  th:src="@{https://avatars.githubusercontent.com/u/{id}?v=3 (id=${userInfo.id})}" alt=""> </a>
                        </div>
                        <!-- Title -->
                        <div>
                          <a th:href="@{https://github.com/{login} (login=${userInfo.login})}" target="_blank"><h6 class="card-title mb-0 " th:text="${userInfo.login}">  All in the Mind </h6></a>
                          <p class="mb-0 small" th:text="${#temporals.format(userInfo.updatedAt, 'yyyy-MM-dd HH:ss')}">9 November at 23:29</p>
                        </div>
                  </div>

                <!-- Feed poll votes START -->
                <ul class="nav nav-divider mt-2 mb-0">
                    <li class="nav-item">
                        <span th:text="${#numbers.formatInteger(userInfo.public_repos, 0, 'COMMA')}"></span> repos
                    </li>
                    <li class="nav-item">
                        <span th:text="${#numbers.formatInteger(userInfo.star, 0, 'COMMA')}"></span> star
                    </li>
                </ul>
                <!-- Feed poll votes ED -->
          </div>
          <!-- Card header START -->

          <!-- Card body START -->
          <div class="card-body pb-0">
              <div class="row g-4">
                  <div class="col-sm-3 col-6">
                      <div class="d-flex justify-content-center">
                          <i class="bi bi-menu-button-wide text-success fs-4"></i>
                          <div class="ms-3">
                              <h6 class="mb-0">Repository</h6>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-9 col-6">
                      <div class="row gs-4">
                      <div class="col-sm-3 d-flex justify-content-center">
                          <i class="bi bi-bricks text-info fs-4"></i>
                          <div class="ms-3">
                              <h6 class="mb-0">Language</h6>
                          </div>
                      </div>
                      <div class="col-sm-3 d-flex justify-content-center">
                          <i class="fa-solid bi-arrows-fullscreen text-danger fs-4"></i>
                          <div class="ms-3">
                              <h6 class="mb-0">Size</h6>
                          </div>
                      </div>
                      <div class="col-sm-3 d-flex justify-content-center">
                          <i class="fa-solid bi-star-fill text-warning fs-4"></i>
                          <div class="ms-3">
                              <h6 class="mb-0">Star</h6>
                          </div>
                      </div>
                      <div class="col-sm-3 d-flex justify-content-center">
                          <i class="bi bi-calendar-date-fill text-black "></i>
                          <div class="ms-3">
                              <h6 class="mb-0" >UpdatedAt</h6>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
            <br>
              <!-- 개인 소스데이터 리스트 Start -->
             <div class="vstack gap-2">
                 <div class="row g-3">
                     <th:block th:each="userRepo : ${userRepoList}">
                        <div class="col-sm-3 col-6">
                            <div class="d-flex justify-content-start">
                                <div class="ms-3">
                                <a th:href="@{https://github.com/{login}/{name} (login=${userInfo.login}, name=${userRepo.name})}" target="_blank">
                                <h7 th:text="${userRepo.name}">name</h7></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 col-6">
                        <div class="row gs-4">
                            <div class="col-sm-3 d-flex justify-content-center">
                                <div class="ms-3">
                                    <div th:replace="~{fragments/viewLanguage :: swichLanguage (${userRepo.language})}"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex justify-content-center">
                                <div class="ms-3">
                                    <h7 th:text="${#numbers.formatInteger(userRepo.size, 0, 'COMMA')}">1</h7>
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex justify-content-center">
                                <div class="ms-3">
                                    <h7 th:text="${#numbers.formatInteger(userRepo.stargazersCount, 0, 'COMMA')}">1</h7>
                                </div>
                            </div>
                                <div class="col-sm-3 d-flex justify-content-center">
                                <div class="ms-3">
                                    <h7 th:text="${#temporals.format(userRepo.updatedAt, 'yyyy-MM-dd')}">1</h7>
                                </div>
                            </div>
                        </div>
                        </div>
                         <hr>
                     </th:block>
                 </div>
                </div>
              <!-- 개인 소스데이터 리스트 END -->
              <br>
          </div><!-- Card Body END -->
        </div><!-- Card feed item START -->
      </div>
      <!-- Main content END -->

    </div> <!-- Row END -->
  </div>
  <!-- Container END -->
  </div>
</main>
<!-- **************** MAIN CONTENT END **************** -->
<div th:replace="fragments/footer :: footer" />


</body>
</html>