<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">

    <!-- footer START -->
    <footer class="bg-mode py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Footer nav START -->
                    <ul class="nav justify-content-center justify-content-md-start lh-1">
                        <li class="nav-item">
                            <a class="nav-link" href="/login/info">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/info">Support </a>
                        </li>
                    </ul>
                    <!-- Footer nav START -->
                </div>
                <div class="col-md-6">
                    <!-- Copyright START -->
                    <p class="text-center text-md-end mb-0">©2022 <a class="text-body" href="https://www.ilovegithub.com"> iLoveGithub </a>All rights reserved.</p>
                    <!-- Copyright END -->
                </div>
            </div>
        </div>
    </footer>
    <!-- footer END -->

</div>
