<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<dev th:fragment="swichLanguage(firstLanguage)">
<th:block th:switch="${firstLanguage}">
    <span th:case="'Java'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img class="avatar avatar-xs avatar-img rounded-circle" src="/images/java.png" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'C'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img class="avatar avatar-xs avatar-img rounded-circle" src="/images/c.png" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'C++'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img class="avatar avatar-xs avatar-img rounded-circle" src="/images/c++.png" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'C#'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img class="avatar avatar-xs avatar-img rounded-circle" src="/images/sharp_c.png" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Objective-C'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/objective-c.png" class="avatar avatar-xs avatar-img rounded-circle"  alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Python'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img class="avatar avatar-xs avatar-img rounded-circle" src="/images/python.png" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'JavaScript'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img class="avatar avatar-xs avatar-img rounded-circle" src="/images/javascript.png" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'TypeScript'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img class="avatar avatar-xs avatar-img rounded-circle" src="/images/typescript.png" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Shell'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/terminal_shell.png" class="avatar avatar-xs avatar-img rounded-circle"  alt="avatar"></li>
        </ul>
    </span>
    <span th:case="'TeX'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/tex.png" class="avatar avatar-xs avatar-img rounded-circle"  alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'PHP'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/php.png" class="avatar avatar-xs avatar-img rounded-circle"  alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Rust'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/rust.png" class="avatar avatar-xs avatar-img rounded-circle"  alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'HTML'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/html.png" class="avatar avatar-xs avatar-img rounded-circle"  alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'R'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/r.png" class="avatar avatar-xs avatar-img rounded-circle"  alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Ruby'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/ruby.png" class="avatar avatar-xs avatar-img rounded-circle"  alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Go'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img class="avatar avatar-xs avatar-img rounded-circle" src="/images/go.png" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Swift'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/swift.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Scala'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/scala.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Dockerfile'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/docker.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Kotlin'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/kotlin.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'CSS'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/css.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Clojure'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/clojure.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Dart'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/dart.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Jupyter Notebook'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/jupyter.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Perl'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/perl.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="'Vue'"><ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item"><img src="/images/vue.png" class="avatar avatar-xs avatar-img rounded-circle" alt="avatar"></li>
    </ul>
    </span>
    <span th:case="*">
        <ul class="nav nav-pills nav-stack small fw-normal">
        <li class="nav-item">
            <div class="avatar">
            <div class="avatar-img avatar-sm rounded-circle bg-info">
                <span class="text-white position-absolute top-50 start-50 translate-middle fw-bold">ETC</span>
            </div>
        </div>
        </li>
        </ul>
    </span>
</th:block>
</dev>
</html>