<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header2 :: header" />
<body>

<!-- **************** MAIN CONTENT START **************** -->

<!-- =======================
Header START -->
<header class="navbar-dark navbar-transparent header-static">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="/">
        <img class="light-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Main navbar START -->
			<div class="collapse navbar-collapse" id="navbarCollapse">

				<ul class="navbar-nav navbar-nav-scroll ms-auto">
                  <!-- Nav 서비스 소개 Mega menu -->
                  <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">서비스소개</a>
                    <ul class="dropdown-menu" aria-labelledby="postMenu">
                      <li> <a class="dropdown-item active" th:href="@{'/'}">
                        <img class="me-2 h-20px fa-fw" src="/assets/images/icon/home-outline-filled.svg" alt="">홈</a> </li>
                      <li> <a class="dropdown-item" th:href="@{'/login/info'}">
                        <img class="me-2 h-20px fa-fw" src="/assets/images/icon/binocular-var-outline-filled.svg" alt="">서비스 소개</a> </li>
                      <li> <a class="dropdown-item" th:href="@{'/member/question'}">
                        <img class="me-2 h-20px fa-fw" src="/assets/images/icon/bulb-money-outline-filled.svg" alt="">문의 및 건의사항</a> </li>
                    </ul>
                  </li>

					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="homeMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">글로벌 랭킹</a>
						<ul class="dropdown-menu" aria-labelledby="homeMenu">
							<li> <a class="dropdown-item" th:href="@{'/global/user'}">
                              <img class="me-2 h-20px fa-fw" src="/assets/images/icon/person-outline-filled.svg" alt="">유저 랭킹</a></li>
							<li> <a class="dropdown-item" th:href="@{'/global/organization'}">
                              <img class="me-2 h-20px fa-fw" src="/assets/images/icon/handshake-outline-filled.svg" alt="">조직 랭킹</a></li>
							<li> <a class="dropdown-item" th:href="@{'/global/source'}">
                              <img class="me-2 h-20px fa-fw" src="/assets/images/icon/cloud-outline-filled.svg" alt="">소스 랭킹</a></li>
						</ul>
					</li>

					<!-- Nav item 2 Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">한국인 랭킹</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<li> <a class="dropdown-item" th:href="@{'/korean/user'}">유저 랭킹</a></li>
							<li> <a class="dropdown-item" th:href="@{'/korean/organization'}">조직 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/korean/source'}">소스 랭킹</a></li>
                            <li class="dropdown-divider"></li>
                            <li>
                              <a class="dropdown-item" th:href="@{'/login/comingSoon'}" target="_blank">
                                <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>금주의 랭킹
                              </a>
                            </li>
						</ul>
					</li>

                  <!-- Nav item 3 Post -->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="memberRankMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회원 랭킹</a>
                      <ul class="dropdown-menu" aria-labelledby="memberRankMenu">
                        <li> <a class="dropdown-item" th:href="@{'/login/comingSoon'}">유저 랭킹</a></li>
                        <li> <a class="dropdown-item" th:href="@{'/login/comingSoon'}">조직 랭킹</a></li>
                        <li> <a class="dropdown-item" th:href="@{'/login/comingSoon'}">소스 랭킹</a></li>
                        <li class="dropdown-divider"></li>
                        <li>
                          <a class="dropdown-item" th:href="@{'/login/comingSoon'}" target="_blank">
                            <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>금주의 랭킹
                          </a>
                        </li>
                      </ul>
                    </li>


				</ul>
			</div>
			<!-- Main navbar END -->

			<!-- Nav right START -->
			<ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
              <!-- Notification dropdown END -->
              <li class="nav-item ms-2 dropdown">
                <th:block th:if="${login_session == null}">
                  <a class="nav-link btn icon-md p-0" th:href="@{/login/signIn}">
                    <img class="avatar-img rounded-2" src="/assets/images/github-icon.png" alt=""></a>
                </th:block>
                <th:block th:if="${login_session != null}">
                  <a class="nav-link btn icon-md p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="avatar-img rounded-2" th:src="@{https://avatars.githubusercontent.com/u/{id}?v=3 (id=${login_session.id})}" alt="">
                  </a>

                  <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="profileDropdown">
                    <!-- Profile info -->
                    <li class="px-3">
                      <div class="d-flex align-items-center position-relative">
                        <!-- Avatar -->
                        <div class="avatar me-3">
                          <img class="avatar-img rounded-circle" th:src="@{https://avatars.githubusercontent.com/u/{id}?v=3 (id=${login_session.id})}" alt="avatar">
                        </div>
                        <div>
                          <a class="h6 stretched-link" href="#"><span th:text="${login_session.login}"></span></a>
                          <p class="small m-0" th:text="${login_session.name}">name</p>
                        </div>
                      </div>
                      <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" th:href="@{/user/id/{id} (id=${login_session.id})}">My profile</a>
                    </li>
                    <!-- Links -->
                    <li><a class="dropdown-item" th:href="@{'/'}">
                      <i class="bi bi-house-heart-fill fa-fw me-2 text-danger"></i>홈</a></li>
                    <li>
                      <a class="dropdown-item" th:href="@{'/login/info'}">
                        <i class="fa-fw bi bi-info-square-fill me-2 text-primary"></i>서비스 소개
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{'/member/question'}">
                        <i class="fa-fw bi bi-question-octagon-fill me-2 text-warning"></i>문의 및 건의사항
                      </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item bg-danger-soft-hover" th:href="@{/logout}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
                    <li> <hr class="dropdown-divider"></li>
                    <!-- Dark mode switch START -->
                    <li>
                      <div class="modeswitch-wrap" id="darkModeSwitch">
                        <div class="modeswitch-item">
                          <div class="modeswitch-icon"></div>
                        </div>
                        <span>Dark mode</span>
                      </div>
                    </li>
                    <!-- Dark mode switch END -->
                  </ul>
                </th:block>
				</li>
			</ul>
			<!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main> 

  <!-- Hero event START -->
  <section class="pt-5 pb-0 position-relative" style="background-image: url(/assets/images/bg/09.jpg); background-repeat: no-repeat; background-size: cover; background-position: top center;">
  <div class="bg-overlay bg-dark opacity-8"></div>
    <!-- Container START -->
    <div class="container">
      <div class="pt-5">
        <div class="row position-relative">
          <div class="col-xl-8 col-lg-10 mx-auto pt-sm-5 text-center">
            <!-- Title -->
            <div class="d-flex justify-content-center">
              <h1 class="text-success mx-3">i Love Github</h1>
              <h1 class="text-white">help you</h1>
            </div>
            <p class="text-white">We provide github.com ranking, and help you use github well</p>
            <th:block th:if="${login_login != null}">
              <p class="text-white" th:text="${login_login}">님 환영합니다.</p>

            </th:block>


            <div class="mx-auto bg-mode shadow rounded p-4 mt-5">
              <h5 class="mb-3 text-start">We will help you to find github member</h5>
              <!-- Form START -->
              <form class="row g-3 justify-content-center" action="/user/login">
                <div class="col-md-5">
                  <!-- What -->
                  <div class="input-group">
                    <input class="form-control form-control-lg me-1 pe-5" type="text" id="inputLogin" name="inputLogin" placeholder="Github Username">
                  </div>
                </div>
                <div class="col-md-2 d-grid">
                  <!-- Search -->
                  <a class="btn btn-lg btn-primary" href="#">Search</a>
                </div>
              </form>
              <!-- Form END -->
            </div>
          </div>
          <div class="mb-n5 mt-3 mt-lg-5">
            <div class="col-xl-9 col-lg-11 mx-auto">
              <!-- Category START -->
              <div class="d-md-flex gap-3 mt-5">
                <!-- Category item -->
                <a th:href="@{'/global/user'}" class="card card-body mb-3 mb-lg-0 p-3 text-center">
                  <img class="h-40px mb-3" src="/assets/images/icon/person-outline-filled.svg" alt="">
                  <h6>User</h6>
                </a>
                <!-- Category item -->
                <a th:href="@{'/global/organization'}" class="card card-body mb-3 mb-lg-0 p-3 text-center">
                  <img class="h-40px mb-3" src="/assets/images/icon/handshake-outline-filled.svg" alt="">
                  <h6>Organization</h6>
                </a>
                <!-- Category item -->
                <a th:href="@{'/global/source'}" class="card card-body mb-3 mb-lg-0 p-3 text-center">
                  <img class="h-40px mb-3" src="/assets/images/icon/cloud-outline-filled.svg" alt="">
                  <h6>Repository</h6>
                </a>
                <!-- Category item -->
                <a th:href="@{'/login/comingSoon'}" class="card card-body mb-3 mb-lg-0 p-3 text-center">
                  <img class="h-40px mb-3" src="/assets/images/icon/clock-outline-filled.svg" alt="">
                  <h6>This month Rank</h6>
                </a>
              </div>
              <!-- Category END -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- Hero event END -->


  <!-- User Rank START -->
  <section class="bg-mode pt-0 pt-lg-5">
    <div class="container">
      <div class="row g-4 justify-content-between">

        <div class="col-lg-6">
          <!-- User Rank START -->
          <h4 class="mt-4"> <a th:href="@{'/global/user'}"> User Rank </a></h4>

          <table class="table table-bordered align-middle">
            <thead class="thead-light">
            <tr class="table-primary text-center">
              <th>ID</th>
              <th>followers</th>
              <th>Star</th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="userRank : ${userRanks}">
                <td>
                  <div class="avatar avatar-xs ">
                    <a href="/" th:href="@{/user/id/{id} (id=${userRank.id})}">
                      <img class="avatar-img rounded-circle" th:src="@{https://avatars.githubusercontent.com/u/{id}?v=3 (id=${userRank.id})}" alt="">
                    </a>
                  </div>
                  <a class="mx-1" th:href="@{/user/id/{id} (id=${userRank.id})}" th:text="${userRank.login}"></a>
                </td>
                <td th:text="${#numbers.formatInteger(userRank.followers, 0, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(userRank.stargazersCount, 0, 'COMMA')}"></td>
              </tr>
            </tbody>
          </table>
          <div class="col-12 mb-3">
            <div class="d-sm-flex justify-content-end">
              <a class="btn btn-link" th:href="@{'/global/user'}">View all users</a>
            </div>
          </div>
          <!-- User Rank END -->
        </div>
        <div class="col-lg-6">
          <!-- Org Rank START -->
          <h4 class="mt-4"> <a th:href="@{'/global/organization'}"> Organization Rank </a></h4>
          <table class="table table-bordered align-middle">
            <thead class="thead-light">
            <tr class="table-primary text-center">
              <th>ID</th>
              <th>People</th>
              <th>Star</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userRank : ${orgRanks}">
              <td>
                <div class="avatar avatar-xs ">
                <a href="/" th:href="@{/user/id/{id} (id=${userRank.id})}">
                  <img class="avatar-img rounded-circle" th:src="@{https://avatars.githubusercontent.com/u/{id}?v=3 (id=${userRank.id})}" alt="">
                </a>
                </div>
                  <a class="mx-1" th:href="@{/user/id/{id} (id=${userRank.id})}" th:text="${userRank.login}"></a>
              </td>
              <td th:text="${#numbers.formatInteger(userRank.peopleCount, 0, 'COMMA')}"></td>
              <td th:text="${#numbers.formatInteger(userRank.stargazersCount, 0, 'COMMA')}"></td>
            </tr>
            </tbody>
          </table>
          <div class="col-12 mb-3">
            <div class="d-sm-flex justify-content-end">
              <a class="btn btn-link" th:href="@{'/global/organization'}">View all Organizations</a>
            </div>
          </div>
          <!-- Org Rank END -->
        </div>
      </div>
    </div>
  </section>
  <!-- Book conference END -->


</main>
<!-- **************** MAIN CONTENT END **************** -->
<div th:replace="fragments/footer :: footer" />


</body>
</html>