<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header2 :: header" />

<body>

<!-- =======================
Header START -->
<header class="navbar-light fixed-top header-static bg-mode">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="/">
        <img class="light-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

			<!-- Main navbar START -->
			<div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Nav Search START -->
        <div class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0">
          <div class="nav-item w-100">
            <form class="rounded position-relative">
              <input class="form-control ps-5 bg-light" type="search" placeholder="Search..." aria-label="Search">
              <button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="submit"><i class="bi bi-search fs-5"> </i></button>
            </form>
          </div>
        </div>
        <!-- Nav Search END -->

				<ul class="navbar-nav navbar-nav-scroll ms-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="homeMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">글로벌 랭킹</a>
                        <ul class="dropdown-menu" aria-labelledby="homeMenu">
                            <li> <a class="dropdown-item" href="/">랭킹 요약</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/global/user'}">유저 랭킹</a></li>
                            <li> <a class="dropdown-item active" th:href="@{'/global/organization'}">조직 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/global/source'}">소스 랭킹</a></li>
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#!">랭귀지별 랭킹</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Java</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">C++</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Python</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Kotlin</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Ruby</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">JavaScript</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">C</a> </li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">금주의 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">소스량 랭킹</a></li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="https://themes.getbootstrap.com/store/webestica/" target="_blank">
                                    <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>Buy Social!
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Nav item 2 Pages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">한국인 랭킹</a>
                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">
                            <li> <a class="dropdown-item" th:href="@{'/korean/user'}">유저 랭킹</a></li>
                            <li> <a class="dropdown-item active" th:href="@{'/korean/organization'}">조직 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/korean/source'}">소스 랭킹</a></li>
                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#!">랭귀지별 랭킹</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Java</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">C++</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Python</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Kotlin</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Ruby</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">JavaScript</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">C</a> </li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">금주의 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">소스량 랭킹</a></li>
              
							<!-- Dropdown submenu levels -->
							<li class="dropdown-divider"></li>
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Dropdown levels</a>
								<ul class="dropdown-menu dropdown-menu-end" data-bs-popper="none">
									<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
									<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
									<!-- dropdown submenu open left -->
									<li class="dropdown-submenu dropstart">
										<a class="dropdown-item dropdown-toggle" href="#">Dropdown (start)</a>
										<ul class="dropdown-menu dropdown-menu-end" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
											<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
										</ul>
									</li>
									<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
								</ul>
							</li>
						</ul>
					</li>

                    <!-- Nav item 3 Post -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="memberRankMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회원 랭킹</a>
                        <ul class="dropdown-menu" aria-labelledby="memberRankMenu">
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">유저 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">조직 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">소스 랭킹</a></li>
                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#!">랭귀지별 랭킹</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Java</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">C++</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Python</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Kotlin</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">Ruby</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">JavaScript</a> </li>
                                    <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">C</a> </li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">금주의 랭킹</a></li>
                            <li> <a class="dropdown-item" th:href="@{'/comingSoon'}">소스량 랭킹</a></li>
                        </ul>
                    </li>

                    <!-- Nav item 4 Mega menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account </a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" href="create-page.html">Create a page</a></li>
                            <li> <a class="dropdown-item" href="settings.html">Settings</a> </li>
                            <li> <a class="dropdown-item" href="notifications.html">Notifications</a> </li>
                            <li> <a class="dropdown-item" href="help.html">Help center</a> </li>
                            <li> <a class="dropdown-item" href="help-details.html">Help details</a> </li>
                            <!-- dropdown submenu open left -->
                            <li class="dropdown-submenu dropstart">
                                <a class="dropdown-item dropdown-toggle" href="#">Authentication</a>
                                <ul class="dropdown-menu dropdown-menu-end" data-bs-popper="none">
                                    <li> <a class="dropdown-item" href="sign-in.html">Sign in</a> </li>
                                    <li> <a class="dropdown-item" href="sign-up.html">Sing up</a> </li>
                                    <li> <a class="dropdown-item" href="forgot-password.html">Forgot password</a> </li>
                                    <li class="dropdown-divider"></li>
                                    <li> <a class="dropdown-item" href="sign-in-advance.html">Sign in advance</a> </li>
                                    <li> <a class="dropdown-item" href="sign-up-advance.html">Sing up advance</a> </li>
                                    <li> <a class="dropdown-item" href="forgot-password-advance.html">Forgot password advance</a> </li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" href="error-404.html">Error 404</a> </li>
                            <li> <a class="dropdown-item" href="offline.html">Offline</a> </li>
                            <li> <a class="dropdown-item" href="privacy-and-terms.html">Privacy & terms</a> </li>
                        </ul>
                    </li>
				</ul>
			</div>
			<!-- Main navbar END -->

			<!-- Nav right START -->
			<ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
				<li class="nav-item ms-2">
					<a class="nav-link icon-md btn btn-light p-0" href="messaging.html">
						<i class="bi bi-chat-left-text-fill fs-6"> </i>
					</a>
				</li>
        <li class="nav-item ms-2">
					<a class="nav-link icon-md btn btn-light p-0" href="settings.html">
						<i class="bi bi-gear-fill fs-6"> </i>
					</a>
				</li>
        <li class="nav-item dropdown ms-2">
					<a class="nav-link icon-md btn btn-light p-0" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <span class="badge-notif animation-blink"></span>
						<i class="bi bi-bell-fill fs-6"> </i>
					</a>
          <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0" aria-labelledby="notifDropdown">
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="m-0">Notifications <span class="badge bg-danger bg-opacity-10 text-danger ms-2">4 new</span></h6>
                <a class="small" href="#">Clear all</a>
              </div>
              <div class="card-body p-0">
                <ul class="list-group list-group-flush list-unstyled p-2">
                  <!-- Notif item -->
                  <li>
                    <div class="list-group-item list-group-item-action rounded badge-unread d-flex border-0 mb-1 p-3">
                      <div class="avatar text-center d-none d-sm-inline-block">
                        <img class="avatar-img rounded-circle" src="/assets/images/avatar/01.jpg" alt="">
                      </div>
                      <div class="ms-sm-3">
                        <div class=" d-flex">
                        <p class="small mb-2"><b>Judy Nguyen</b> sent you a friend request.</p>
                        <p class="small ms-3 text-nowrap">Just now</p>
                      </div>
                      <div class="d-flex">
                        <button class="btn btn-sm py-1 btn-primary me-2">Accept </button>
                        <button class="btn btn-sm py-1 btn-danger-soft">Delete </button>
                      </div>
                    </div>
                  </div>
                  </li>
                  <!-- Notif item -->
                  <li>
                    <div class="list-group-item list-group-item-action rounded badge-unread d-flex border-0 mb-1 p-3 position-relative">
                      <div class="avatar text-center d-none d-sm-inline-block">
                        <img class="avatar-img rounded-circle" src="/assets/images/avatar/02.jpg" alt="">
                      </div>
                      <div class="ms-sm-3 d-flex">
                        <div>
                          <p class="small mb-2">Wish <b>Amanda Reed</b> a happy birthday (Nov 12)</p>
                          <button class="btn btn-sm btn-outline-light py-1 me-2">Say happy birthday 🎂</button>
                        </div>
                        <p class="small ms-3">2min</p>
                      </div>
                    </div>
                  </li>
                  <!-- Notif item -->
                  <li>
                    <a href="#" class="list-group-item list-group-item-action rounded d-flex border-0 mb-1 p-3">
                      <div class="avatar text-center d-none d-sm-inline-block">
                        <div class="avatar-img rounded-circle bg-success"><span class="text-white position-absolute top-50 start-50 translate-middle fw-bold">WB</span></div>
                      </div>
                      <div class="ms-sm-3">
                        <div class="d-flex">
                          <p class="small mb-2">Webestica has 15 like and 1 new activity</p>
                          <p class="small ms-3">1hr</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- Notif item -->
                  <li>
                    <a href="#" class="list-group-item list-group-item-action rounded d-flex border-0 p-3 mb-1">
                      <div class="avatar text-center d-none d-sm-inline-block">
                        <img class="avatar-img rounded-circle" src="/assets/images/logo/12.svg" alt="">
                      </div>
                      <div class="ms-sm-3 d-flex">
                        <p class="small mb-2"><b>Bootstrap in the news:</b> The search giant’s parent company, Alphabet, just joined an exclusive club of tech stocks.</p>
                        <p class="small ms-3">4hr</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-sm btn-primary-soft">See all incoming activity</a>
              </div>
            </div>
          </div>
				</li>
        <!-- Notification dropdown END -->

        <li class="nav-item ms-2 dropdown">
					<a class="nav-link btn icon-md p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<img class="avatar-img rounded-2" src="/assets/images/avatar/07.jpg" alt="">
					</a>
          <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="profileDropdown">
            <!-- Profile info -->
            <li class="px-3">
              <div class="d-flex align-items-center position-relative">
                <!-- Avatar -->
                <div class="avatar me-3">
                  <img class="avatar-img rounded-circle" src="/assets/images/avatar/07.jpg" alt="avatar">
                </div>
                <div>
                  <a class="h6 stretched-link" href="#">Lori Ferguson</a>
                  <p class="small m-0">Web Developer</p>
                </div>
              </div>
              <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" href="my-profile.html">View profile</a>
            </li>
            <!-- Links -->
            <li><a class="dropdown-item" href="settings.html"><i class="bi bi-gear fa-fw me-2"></i>Settings & Privacy</a></li>
            <li> 
              <a class="dropdown-item" href="https://support.webestica.com/" target="_blank">
                <i class="fa-fw bi bi-life-preserver me-2"></i>Support
              </a> 
            </li>
            <li> 
              <a class="dropdown-item" href="../../../../../docs/index.html" target="_blank">
                <i class="fa-fw bi bi-card-text me-2"></i>Documentation
              </a> 
            </li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item bg-danger-soft-hover" href="sign-in-advance.html"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
            <li> <hr class="dropdown-divider"></li>
            <!-- Dark mode switch START -->
            <li>
              <div class="modeswitch-wrap" id="darkModeSwitch">
                <div class="modeswitch-item">
                  <div class="modeswitch-icon"></div>
                </div>
                <span>Dark mode</span>
              </div>
            </li> 
            <!-- Dark mode switch END -->
          </ul>
				</li>
			  <!-- Profile START -->
        
			</ul>
			<!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
  
  <!-- Container START -->
  <div class="container">
    <div class="row g-4">
      <!-- Main content START -->
      <div class="col-lg-9">
        <div class="bg-mode p-4">
            <div class="row">
                <div class="col-md-4 card-header d-sm-flex text-center align-items-center justify-content-between border-0 pb-0">
                    <h1 class="card-title h4 h4 mb-4">Organization Rank</h1></div>
                <div class="col-md-5"></div>
                <div class="col-md-3 d-flex justify-content-center">
                    <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
                        <li class="nav-item ms-2 dropdown">
                            <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" href="#" id="sortSelectDropDown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort By  <i class="fa-solid bi-caret-down-fill pe-1"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="sortSelectDropDown">
                                <li><a class="dropdown-item" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=${userRanks.number}, sortBy=${'StargazersCount'})}">
                                    <i class="bi bi-star fa-fw me-2"></i>Star<i th:if="${var_sortBy.equals('StargazersCount')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=${userRanks.number}, sortBy=${'PeopleCount'})}">
                                    <i class="fa-fw bi bi-people-fill me-2"></i>People<i th:if="${var_sortBy.equals('PeopleCount')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=${userRanks.number}, sortBy=${'UpdatedAt'})}">
                                    <i class="fa-fw bi bi-calendar-date-fill me-2"></i>UpdatedAt<i th:if="${var_sortBy.equals('UpdatedAt')}" class="bi bi-check-lg text-success me-2 fw-icon"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

          <!-- User Rank item START -->
          <div class="card bg-transparent border-0">
              <div class="row g-4">
                      <div class="col-sm-3 col-6">
                          <div class="d-flex justify-content-center">
                              <i class="bi bi-person-bounding-box text-success fs-4"></i>
                              <div class="ms-3">
                                  <h6 class="mb-0">Github ID</h6>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-9 col-6">
                          <div class="row g-2">
                              <div class="col-sm-3">
                                  <div class="d-flex justify-content-center">
                                      <i class="bi bi-people-fill text-info fs-4"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0">People</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="d-flex justify-content-center">
                                      <i class="fa-solid bi-hdd-fill text-danger fs-4"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0">Source Size</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="d-flex justify-content-center">
                                      <i class="bi bi-star-fill text-warning fs-4"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0" >Star</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="d-flex justify-content-center">
                                      <i class="fa-solid bi-calendar-date-fill text-black"></i>
                                      <div class="ms-3">
                                          <h6 class="mb-0">UpdatedAt</h6>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div><!-- Rank Header End -->
              <br>
              <div class="row g-3">
                  <th:block th:each="userRank, iStat : ${userRanks.content}">
                    <div class="col-sm-1 col-2 d-flex justify-content-center">
                        <div class="col-3 avatar avatar-sm me-3">
                            <a href="/" th:href="@{/user/{id} (id=${userRank.id})}">
                                <img class="avatar-img rounded-circle" th:src="@{https://avatars.githubusercontent.com/u/{id}?v=3 (id=${userRank.id})}" alt="">
                            </a>
                        </div>
                    </div>
                      <div class="col-sm-2 col-4 d-flex justify-content-center">
                          <h6 class="mb-0" th:text="${iStat.count + (userRanks.number*userRanks.size)}"></h6><h6>. </h6>
                          <a href="/" th:href="@{/user/{id} (id=${userRank.id})}">
                          <h6 class="mb-0" th:text="${userRank.login}">login</h6>
                          </a>
                      </div>
                      <div class="col-sm-9 col-6">
                          <div class="row g-2">
                              <div class="col-sm-3">
                                  <div class="d-flex justify-content-center">
                                      <div class="ms-3">
                                          <h7 th:text="${#numbers.formatInteger(userRank.peopleCount, 0, 'COMMA')}">1</h7>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="d-flex justify-content-center">
                                      <div class="ms-3">
                                          <h7 class="mb-0" th:text="${#numbers.formatInteger(userRank.size, 0, 'COMMA')}">1</h7>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="d-flex justify-content-center">
                                      <div class="ms-3">
                                          <h7 class="mb-0" th:text="${#numbers.formatInteger(userRank.stargazersCount, 0, 'COMMA')}">1</h7>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="d-flex justify-content-center">
                                      <div class="ms-3">
                                          <h7 class="mb-0" th:text="${#temporals.format(userRank.updatedAt, 'yyyy-MM-dd')}">1</h7>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <hr>
                  </th:block>
              </div>
          </div> <!-- User Rank END -->

            <!-- Pagination -->
            <div class="mt-4">
                <nav aria-label="navigation">
                    <ul class="pagination pagination-light d-inline-block d-md-flex justify-content-center">
                        <li class="page-item" th:classappend="${!userRanks.hasPrevious()} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=0, sortBy=${var_sortBy})}">First</a>
                        </li>
                        <li class="page-item" th:classappend="${!userRanks.hasPrevious()} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=${userRanks.number-1}, sortBy=${var_sortBy})}">Prev</a>
                        </li>
                        <li class="page-item" th:if="${userRanks.hasPrevious()}">
                            <a class="page-link" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=${userRanks.number-1}, sortBy=${var_sortBy})}"><span th:text="${userRanks.number}">0</span></a></li>
                        <li class="page-item active"><a class="page-link" href="#" th:href="@{/korean/user(size=${userRanks.size}, page=${userRanks.number}, sortBy=${var_sortBy})}"><span th:text="${userRanks.number+1}">1</span></a></li>
                        <li class="page-item" th:if="${userRanks.hasNext()}">
                            <a class="page-link" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=${userRanks.number+1}, sortBy=${var_sortBy})}"><span th:text="${userRanks.number+2}">2</span></a></li>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        <li class="page-item" th:if="${userRanks.hasNext() && userRanks.totalPages > userRanks.number+2}">
                            <a class="page-link" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=${userRanks.totalPages-1}, sortBy=${var_sortBy})}"><span th:text="${userRanks.totalPages}">15</span></a></li>
                        <li class="page-item" th:classappend="${!userRanks.hasNext()} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=${userRanks.number+1}, sortBy=${var_sortBy})}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${!userRanks.hasNext()} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/korean/organization(size=${userRanks.size}, page=${userRanks.totalPages-1}, sortBy=${var_sortBy})}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
      </div>
      <!-- Main content END -->

      <!-- Right sidebar START -->
      <div class="col-lg-3">
        <div class="row g-4">
          <!-- Card News START -->
          <div class="col-sm-6 col-lg-12">
            <div class="card">
              <!-- Card header START -->
              <div class="card-header pb-0 border-0">
                <h5 class="card-title mb-0">Recent post</h5>
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body">
                <!-- News item -->
                <div class="mb-3">
                  <h6 class="mb-0"><a href="blog-details.html">Ten questions you should answer truthfully</a></h6>
                  <small>2hr</small>
                </div>
                <!-- News item -->
                <div class="mb-3">
                  <h6 class="mb-0"><a href="blog-details.html">Five unbelievable facts about money</a></h6>
                  <small>3hr</small>
                </div>
                <!-- News item -->
                <div class="mb-3">
                  <h6 class="mb-0"><a href="blog-details.html">Best Pinterest Boards for learning about business</a></h6>
                  <small>4hr</small>
                </div>
                <!-- News item -->
                <div class="mb-3">
                  <h6 class="mb-0"><a href="blog-details.html">Skills that you can learn from business</a></h6>
                  <small>6hr</small>
                </div>
                <!-- Load more comments -->
                <a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center" data-bs-toggle="button" aria-pressed="true">
                  <div class="spinner-dots me-2">
                    <span class="spinner-dot"></span>
                    <span class="spinner-dot"></span>
                    <span class="spinner-dot"></span>
                  </div>
                  View all latest news
                </a>
              </div>
              <!-- Card body END -->
            </div>
          </div>
          <!-- Card News END -->

           <!-- Card News START -->
           <div class="col-sm-6 col-lg-12">
            <div class="card">
              <!-- Card header START -->
              <div class="card-header pb-0 border-0">
                <h5 class="card-title mb-0">Tags</h5>
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body">
                <!-- Tag list START -->
                <ul class="list-inline mb-0 d-flex flex-wrap gap-2">
                  <li class="list-inline-item m-0">
                    <a class="btn btn-outline-light btn-sm" href="#">blog</a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="btn btn-outline-light btn-sm" href="#">business</a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="btn btn-outline-light btn-sm" href="#">theme</a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="btn btn-outline-light btn-sm" href="#">social</a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="btn btn-outline-light btn-sm" href="#">getbootstrap</a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="btn btn-outline-light btn-sm" href="#">design</a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="btn btn-outline-light btn-sm" href="#">news</a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="btn btn-outline-light btn-sm" href="#">magazine</a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="btn btn-outline-light btn-sm" href="#">events</a>
                  </li>
                </ul>
                <!-- Tag list END -->
              <!-- Card body END -->
            </div>
          </div>
          <!-- Card News END -->
        </div>
        <!-- Card follow START -->
        <div class="col-sm-6 col-lg-12">
          <div class="card">
            <!-- Card header START -->
            <div class="card-header pb-0 border-0">
              <h5 class="card-title mb-0">Who to follow</h5>
            </div>
            <!-- Card header END -->
            <!-- Card body START -->
            <div class="card-body">

              <!-- Connection item START -->
              <div class="hstack gap-2 mb-3">
                <!-- Avatar -->
                <div class="avatar">
                  <a href="#"> <img class="avatar-img rounded-circle" src="/assets/images/avatar/11.jpg" alt=""> </a>
                </div>
                <!-- Title -->
                <div class="overflow-hidden">
                  <a class="h6 mb-0" href="#!">Billy Vasquez </a>
                  <p class="mb-0 small text-truncate">News anchor</p>
                </div>
                <!-- Button -->
                <a class="btn btn-primary rounded-circle icon-md ms-auto" href="#"><i class="bi bi-person-check-fill"> </i></a>
              </div>
              <!-- Connection item END -->
              
              <!-- Connection item START -->
              <div class="hstack gap-2 mb-3">
                <!-- Avatar -->
                <div class="avatar">
                  <a href="#"> <img class="avatar-img rounded-circle" src="/assets/images/avatar/01.jpg" alt=""> </a>
                </div>
                <!-- Title -->
                <div class="overflow-hidden">
                  <a class="h6 mb-0" href="#!">Lori Ferguson </a>
                  <p class="mb-0 small text-truncate">Web Developer at Webestica</p>
                </div>
                <!-- Button -->
                <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>
              </div>
              <!-- Connection item END -->

              <!-- Connection item START -->
              <div class="hstack gap-2">
                <!-- Avatar -->
                <div class="avatar">
                  <a href="#"> <img class="avatar-img rounded-circle" src="/assets/images/avatar/placeholder.jpg" alt=""> </a>
                </div>
                <!-- Title -->
                <div class="overflow-hidden">
                  <a class="h6 mb-0" href="#!">Carolyn Ortiz </a>
                  <p class="mb-0 small text-truncate">News anchor</p>
                </div>
                <!-- Button -->
                <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>
              </div>
              <!-- Connection item END -->

              </div>
              <!-- Card body END -->
            </div>
          </div>
          <!-- Card follow START -->
        </div>
        <!-- Right sidebar END -->
      </div> <!-- Row END -->
    </div>
  </div>
  <!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
<div th:replace="fragments/footer :: footer" />
 
<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Functions -->
<script src="/assets/js/functions.js"></script>
 
</body>
</html>